@charset "UTF-8";
:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --focus-color: #2196f3;
  --primary-font-color: #757575;
  --secondary-font-color: #212121;
  --white-font-color: #fff;
  --icon-color: #AFB1B8;
  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Обнуление/Скрытие элементов/общие стили */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Обнуление */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.no-title {
  display: none;
}

/* Общие стили */
.link {
  color: inherit;
  text-decoration: none;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  color: #212121;
  text-decoration: none;
}

.title {
  color: var(--secondary-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.current {
  color: var(--focus-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background: var(--focus-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.item.thumb {
  position: absolute;
}

button {
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Container */
.container {
  padding: 0px 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/* -----For logo----- */
.logo__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  margin: 0px;
  text-decoration: none;
  margin-right: 88px;
}

.logo__span--header {
  color: #000;
}

.logo__span--header:hover,
.logo__span--header:focus {
  color: var(--focus-color);
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-font-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

.footer__logo-span {
  color: var(--focus-color);
}

.footer__logo:hover, .footer__logo:focus {
  color: var(--focus-color);
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 99;
}

@media screen and (min-width: 480px) {
  .menu-btn.is-open {
    position: fixed;
    margin-top: 10px;
    margin-left: 410px;
  }
}

.menu-btn__icon:hover, .menu-btn__icon:focus {
  fill: var(--focus-color);
  -webkit-transition: fill var(--time-function);
  transition: fill var(--time-function);
}

.menu-btn__icon-open {
  opacity: 1;
}

.menu-btn__icon-close {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn.is-open .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn.is-open .menu-btn__icon-close {
  opacity: 1;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: var(--primary-background-color);
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: -webkit-transform var(--time-function);
  transition: -webkit-transform var(--time-function);
  transition: transform var(--time-function);
  transition: transform var(--time-function), -webkit-transform var(--time-function);
}

.mobile-overlay.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  width: 100%;
  height: 100%;
  position: fixed;
}

@media screen and (min-width: 768px) {
  .mobile-overlay {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 40px;
  height: 100%;
}

.mobile-nav__list {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
}

.mobile-nav__item {
  color: var(--secondary-font-color);
  margin-bottom: 32px;
}

.mobile-nav__item:nth-child(1) {
  margin-top: 48px;
}

.mobile-nav__item:nth-child(3) {
  margin-top: 48px;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: var(--focus-color);
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

.mobile-contacts {
  padding-bottom: 48px;
}

.mobile-contacts__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--focus-color);
}

.mobile-contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-font-color);
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-right: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-social__item {
  font-family: Roboto, sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 20px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 48px;
}

.mobile-social__link {
  color: var(--focus-color);
}

/* ----------header-page---------- */
.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* -----Navigation----- */
.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--focus-color);
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

/* -----Contacts----- */
.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-top: 21px;
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    margin-top: 0;
  }
}

.contacts-header__item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

@media screen and (min-width: 768px) {
  .contacts-header__item .link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header__item .link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.contacts-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-header__item .link:hover,
.contacts-header__item .link:focus {
  color: var(--focus-color);
}

@media screen and (min-width: 1200px) {
  .contacts-header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-header__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-header__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts-header {
    display: none;
  }
}

/* ---------Filter buttons--------- */
@media screen and (min-width: 1200px) {
  .filter__portfolio-container {
    display: block;
  }
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.filter__button {
  color: var(--footer-background-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background var(--time-function), color var(--time-function), -webkit-box-shadow var(--time-function);
  transition: background var(--time-function), color var(--time-function), -webkit-box-shadow var(--time-function);
  transition: background var(--time-function), color var(--time-function), box-shadow var(--time-function);
  transition: background var(--time-function), color var(--time-function), box-shadow var(--time-function), -webkit-box-shadow var(--time-function);
}

.filter__button--all {
  min-width: 73px;
  height: 38px;
  top: 174px;
  left: 495px;
}

.filter__button-web-site {
  min-width: 128px;
  height: 38px;
  top: 174px;
  left: 576px;
}

.filter__button--apps {
  min-width: 145px;
  height: 38px;
  top: 174px;
  left: 712px;
}

.filter__button--design {
  min-width: 103px;
  height: 38px;
  top: 174px;
  left: 865px;
}

.filter__button--marketing {
  min-width: 130px;
  height: 38px;
  top: 174px;
  left: 976px;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-background-color);
  background-color: var(--focus-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* -------------portfolio-list------------- */
.portfolio__product-naming {
  margin-bottom: 4px;
  color: var(--secondary-font-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio__item {
  width: 450px;
  height: 404px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    width: 370px;
  }
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--time-function);
  transition: -webkit-box-shadow var(--time-function);
  transition: box-shadow var(--time-function);
  transition: box-shadow var(--time-function), -webkit-box-shadow var(--time-function);
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link:hover .portfolio__thumb::before,
.portfolio__link:focus .portfolio__thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__product-type {
  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__label {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .portfolio__thumb {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .portfolio__thumb {
    width: 450px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio__thumb {
    width: inherit;
  }
}

.portfolio__text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 63px 24px;
  font-size: 15px;
  line-height: 1.5;
  color: var(--primary-background-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time-function);
  transition: -webkit-transform var(--time-function);
  transition: transform var(--time-function);
  transition: transform var(--time-function), -webkit-transform var(--time-function);
}

@media screen and (min-width: 480px) {
  .portfolio__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) {
  .portfolio__thumb-photo {
    width: 100%;
    height: 270px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio__thumb-photo {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__thumb-photo {
    width: inherit;
    height: inherit;
  }
}

.portfolio__thumb::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--focus-color);
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time-function);
  transition: -webkit-transform var(--time-function);
  transition: transform var(--time-function);
  transition: transform var(--time-function), -webkit-transform var(--time-function);
}

/* --------------Footer-------------- */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 480px) {
  .footer .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__info {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__info {
    text-align: left;
    width: 231px;
    margin-right: 70px;
  }
}

.footer__address {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  color: var(--white-font-color);
  line-height: 1.71;
  margin-top: 20px;
}

.footer__address-link {
  text-decoration: none;
  color: var(--primary-background-color);
}

.footer__address-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__address-item .link {
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__address-item:not(:last-child) {
    margin-bottom: 6px;
  }
}

.footer__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: .03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--time-function);
  transition: color var(--time-function);
}

.footer__link:hover, .footer__link:focus {
  color: var(--focus-color);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__social-label {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 16px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px 0px 0px 0px;
}

.container-mailing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .container-mailing {
    text-align: left;
  }
}

.container-mailing__label {
  text-transform: uppercase;
  width: 145px;
  height: 16px;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-font-color);
  font-weight: 700;
  width: 219px;
}

@media screen and (min-width: 1200px) {
  .container-mailing__items-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-mailing__form {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .container-mailing__form {
    margin-bottom: 13px;
  }
}

.container-mailing__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 0;
  margin-top: 13px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--footer-background-color);
  color: var(--white-font-color);
  -webkit-transition: border-color var(--time-function);
  transition: border-color var(--time-function);
}

@media screen and (min-width: 480px) {
  .container-mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container-mailing__input {
    width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__input {
    width: 358px;
  }
}

.container-mailing__input:hover, .container-mailing__input:focus {
  border-color: var(--focus-color);
}

.container-mailing__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.container-mailing__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.container-mailing__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.container-mailing__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.container-mailing__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;
  border-width: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  background-color: var(--focus-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-font-color);
}

@media screen and (min-width: 480px) {
  .container-mailing__submit-button {
    margin-right: 125px;
    margin-left: 125px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container-mailing__submit-button {
    margin-right: 140px;
    margin-left: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .container-mailing__submit-button {
    margin-left: 12px;
    margin-right: 0;
  }
}

.container-mailing__icon {
  margin-left: 10px;
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  -webkit-transition: fill var(--time-function);
  transition: fill var(--time-function);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__svg-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-font-color);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: background var(--time-function), color var(--time-function);
  transition: background var(--time-function), color var(--time-function);
}

.social__svg-footer-container:hover, .social__svg-footer-container:focus {
  border-radius: 50px;
  color: var(--white-font-color);
  background-color: var(--focus-color);
}
/*# sourceMappingURL=portfolio.css.map */