/* -----Hero content----- */

.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--footer-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-hero_sm.png);

    @include mq (tablet){
        max-width: 768px;
    }

    @include mq (desktop) {
        max-width: 1600px;
    }

// Ретінізація зображень

    @include mq (mobile){
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/hero/bg-hero_sm.png);
    @include mq (retina){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/bg-hero_sm@2x.png);
    }  
    }
    

    @include mq (tablet) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-hero_md.png);
    
        @include mq (retina) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/bg-hero_md@2x.png);
         }
    }

    @include mq (desktop) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/bg-hero_lg.png);
    
        @include mq (retina) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/bg-hero_lg@2x.png);
        }
    }

    &__title {

    color: var(--primary-background-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin: 0px auto;    
    margin-bottom: 30px;    
        
        @include mq (desktop){
        font-size: 44px;
        line-height: 1.36;
        }
        
}

    &__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    min-width: 200px;

    color: var(--primary-background-color);
    background-color: var(--focus-color);


    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0px;
    }
}


