/* -----For logo----- */
.logo__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #2196F3;
    margin: 0px;
    text-decoration: none;
    margin-right: 88px;
    
    
}
    



.logo__span--header {
    color: #000;

    
}

.logo__span--header:hover,
.logo__span--header:focus{
    color: var(--focus-color);
    transition: color var(--time-function);
}

.footer{
    &__logo {
        display: block;
        margin-bottom: 20px;
    
        color: var(--white-font-color);
    
        font-family: 'Raleway', sans-serif;
    
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    
        transition: color var(--time-function);
    }
    
    
    &__logo-span {
        color: var(--focus-color);
    }
    
    &__logo:hover,
    &__logo:focus {
        color: var(--focus-color);
    }
}