// Мобільне меню
.mobile-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: var(--primary-background-color);
    z-index: 1;

    transform: translateX(100%);
    visibility: hidden;
    transition: transform var(--time-function);
    
        
&.is-open{
    transform: translateX(0);
    visibility: visible;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    
}

    @media screen and (min-width: 768px) {
    display: none;
    }

}
.mobile-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px

}
.mobile-nav__list{
    display: block;
    align-content: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
}
.mobile-nav__item{
    color: var(--secondary-font-color);
}
.mobile-nav__item:not(:last-child){
    margin-bottom: 32px;
}


.mobile-nav__link:hover,
.mobile-nav__link:focus{
    color: var(--focus-color);
    transition: color var(--time-function);
}


.mobile-contacts{
    margin-bottom: 64px;
    margin-top: auto;
}

.mobile-contacts__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-contacts__link--phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: var(--focus-color);
    margin-bottom: 32px;
}
.mobile-contacts__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--primary-font-color);
}

.mobile-social__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile-social__item{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;      
}
.mobile-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
    color: var(--focus-color);
}





