/* -------------portfolio-list------------- */
.portfolio{
    &__product-naming {
    margin-bottom: 4px;

    color: var(--secondary-font-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
}
&__list {
    display: flex;
    flex-wrap: wrap;
    @include mq (tablet){
    margin-left: 30px;
    }

    @include mq (desktop){
    margin-top: -30px;
    margin-left: -30px;  
    }
}

&__item {
    justify-content: center;
    margin-bottom: 30px;

    @include mq (tablet){
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
    }

    @include mq (desktop){
    flex-basis: calc((100% - 90px) / 3); 
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 0;
    }
}



&__link {
    display: flex;
    flex-direction: column;
    transition: box-shadow var(--time-function);
    height: 100%;

}

&__link:hover,
&__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__link:hover &__text,
&__link:focus &__text {
    transform: translateY(0);
}

&__link:hover &__thumb::before,
&__link:focus &__thumb::before {
    transform: translateY(0);
}

&__product-type {
    color: var(--primary-font-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

&__label {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    flex-grow: 1;
}







&__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    
}

&__text {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;

    padding: 0 24px;

    font-size: 15px;
    @include mq (mobile){
    font-size: 18px;
    }
    line-height: 1.5;

    color: var(--primary-background-color);

    transform: translateY(100%);
    transition: transform var(--time-function);
}



    

&__thumb::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--focus-color);
    opacity: 0.9;

    transform: translateY(100%);
    transition: transform var(--time-function);
}
}
