/* -------------portfolio-list------------- */
.portfolio{
    &__product-naming {
    margin-bottom: 4px;

    color: var(--secondary-font-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
}
&__list {
    display: flex;
    flex-wrap: wrap;

    @include mq (tablet){
    margin-top: -30px;
    margin-left: -30px;  
    }
    

}

&__item {
    width: 450px;
    height: 404px;
    justify-content: center;
    @include mq (tablet){
    flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    margin-left: 30px;
    margin-top: 30px; 
    }
    
    &:not(:last-child) {
    margin-bottom: 30px;
    }

    &:not(:last-child){
    @include mq (tablet){
    margin-bottom: 0;   
    } 
    }
    
    @include mq (desktop){
    flex-basis: calc((100% - 90px) / 3);
    width: 370px; 
    }
}



&__link {
    display: block;
    transition: box-shadow var(--time-function);

}

&__link:hover,
&__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&__link:hover &__text,
&__link:focus &__text {
    transform: translateY(0);
}

&__link:hover &__thumb::before,
&__link:focus &__thumb::before {
    transform: translateY(0);
}

&__product-type {
    color: var(--primary-font-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

&__label {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}







&__thumb {
    position: relative;
    overflow: hidden;


    @media screen and (min-width: 320px){
    width: 100%;
    }

    @include mq (mobile){
    width: 450px;
    }
    @include mq (mobile) {
    width: inherit;
    }
    
}

&__text {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    padding: 63px 24px;

    font-size: 15px;
    @include mq (mobile){
    font-size: 18px;
    }
    line-height: 1.5;

    color: var(--primary-background-color);

    transform: translateY(100%);
    transition: transform var(--time-function);
}

&__thumb-photo{
    width: 100%;


    @media screen and (max-width: 479px){
    height: 270px;
    }

    @include mq (mobile){
    height: 294px;
    }
 
}

    

&__thumb::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--focus-color);
    opacity: 0.9;

    transform: translateY(100%);
    transition: transform var(--time-function);
}
}
