/* --------------Soft-skills-------------- */

.soft-skills__section{
    padding-top: 60px;
}




.soft-skills__list {
    display: block;

    @include mq (tablet){
    display: flex;
    }
    @include mq (tablet-only) {
    flex-wrap: wrap;
    }
}

.soft-skills__icon-div {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.soft-skills__title {
    margin-bottom: 15px;
    color: var(--secondary-font-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.4px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mq (mobile-only){
        text-align: center;
    }
}

.soft-skills__item {

    @include mq (mobile-only){
       &:not(:last-child){
        margin-bottom: 30px;
    } 
    }

    @include mq (tablet){
        width: 270px;
    }

    @include mq (tablet-only) {
        flex-basis: calc((100% - 60px) / 2);

        &:nth-last-child(-n+2) {
            margin-top: 30px;
        }
        
        
        &:nth-child(2n) {
            margin-left: 30px;
        }
    }
}