/* ----------------------Team---------------------- */

.team {
    background-color: var(--secondary-background-color);


    &__title{
        margin-bottom: 30px;
        @include mq (desktop) {
         margin-bottom: 50px;
        }
    }

    &__list{
        @include mq (tablet){
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
        }
        @include mq (desktop){
            flex-wrap: nowrap;
            margin-left: 0;
            margin-top: 0;
        }

    }

    &__name-title {
        margin-bottom: 10px;
    
        color: var(--secondary-font-color);
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    &__position {
        margin-bottom: 16px;
    
        color: var(--primary-font-color);
    
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    &-div {
        padding: 30px 32px;
    }
    

    &__social-list{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__item {
        background-color: var(--primary-background-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        &:not(:last-child) {
        margin-bottom: 30px;
        }

        @include mq (tablet){
            flex-basis: calc((100% - 60px) / 2);
            margin-left: 30px;
            margin-top: 30px;
            &:not(:last-child) {
                    margin-bottom: 0;
                }
        }

        @include mq (desktop){
        flex-basis: calc((100% - 120px) / 4);
        margin-left: 0;
        margin-top: 0;
        }


    }

    
    &__social-list.list {
        display: flex;
        align-content: center;
    }
}

.social__svg-container {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);

    transition: background var(--time-function);
}



.social__svg-container:hover,
.social__svg-container:focus {
    border-radius: 50px;
    color: var(--primary-background-color);
    background-color: var(--focus-color);
}