/* ----------------Modal content----------------*/

.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity var(--time-function);

    overflow-y: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    margin: 60px 0;

    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-function);

    @include mq (mobile){
    width: 450px;
    }

    @include mq (desktop) {
    width: 528px;
    }

    &__close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50px;

    cursor: pointer;

    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: fill var(--time-function);
}

&__close-button:hover,
&__close-button:focus {
    fill: var(--focus-color);
}
}




/* Form-content */
.form {
    display: flex;
    flex-direction: column;

    margin-top: 12px;

&__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-font-color);
}



&__label:not(:first-child) {
    margin-top: 10px;
}

&__label {
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;

    color: #757575;
    text-align: left;
}

&__input {
    width: 100%;
    height: 40px;

    padding-left: 42px;

    cursor: pointer;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border var(--time-function);
}

&__textarea {
    display: block;

    height: 120px;
    padding: 12px 16px;

    width: 100%;
    resize: none;

    margin-top: 4px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border var(--time-function);

}


&__textarea::placeholder {

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

&__textarea:hover,
&__textarea:focus {

    border-color: var(--focus-color);
}

&__group-container-svg {
    position: relative;
    margin-top: 4px;
}

&__svg {
    position: absolute;

    cursor: pointer;

    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill var(--time-function);
}

&__input:hover,
&__input:focus {
    border-color: var(--focus-color);
}

&__input:hover+&__svg,
&__input:focus+&__svg {
    fill: var(--focus-color);
}

&__policy {
    margin-top: 20px;
    margin-bottom: 30px;
}

&__label-policy {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-font-color);
}

&__label-policy::before {
    content: " ";

    height: 15px;
    width: 16px;

    border: 2px solid var(--secondary-font-color);
    border-radius: 2px;
    margin-right: 7px;
}

&__checkbox:checked+&__label-policy::before {
    background-image: url(../images/check-icon.svg);
    border: none;
}

&__checkbox {
    position: absolute;
    appearance: none;
}

&__policy-link {
    margin-left: 2px;

    font-size: 14px;
    line-height: 1.71;

    color: var(--focus-color);
}

&__submit-button {
    margin-right: auto;
    margin-left: auto;

    padding: 10px 55px 10px 56px;

    border-width: 0px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-background-color);
    background: var(--focus-color);
    border-color: var(--focus-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
}

