/* Обнуление/Скрытие элементов/общие стили */
*,
::before,
::after {
    box-sizing: border-box;
}

body {

    background-color: var(--primary-background-color);
    color: var(--primary-font-color);

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Обнуление */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.no-title {
    display: none;
}

/* Общие стили */
.link {
    color: inherit;
    text-decoration: none;
}

.list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    color: #212121;
    text-decoration: none;
}

.title {        
    color: var(--secondary-font-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq (desktop){
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.current {
    color: var(--focus-color);
}

@include mq (tablet){
    .current::after {

    position: absolute;

    display: block;

    content: '';

    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background: var(--focus-color);
    border-radius: 2px;
        
    }

}



.item:not(:last-child) {
    @include mq (desktop){
       margin-right: 30px; 
    }
    
}

.item.thumb {
    position: absolute;
}

button {
    border-radius: 4px;
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}